### Homework 3 Numpy Arrays

1. Open `cars.csv` in jupyter and look at the data. 
2. Notice we have text, integer and float data. 
3. Take care not to overwrite your starter code.

In [1]:
#Starter code. Do NOT modify this cell
import pandas as pd
import numpy as np

# Read in dataset
df = pd.read_csv('cars.csv',delimiter=';')

# Convert each column to an np.array
car = df.Car.to_numpy()
mpg = df.MPG.to_numpy()
cylinders = df.Cylinders.to_numpy()
displacement = df.Displacement.to_numpy()
horsepower = df.Horsepower.to_numpy()
weight = df.Weight.to_numpy()
acceleration = df.Acceleration.to_numpy()
model = df.Model.to_numpy()
origin = df.Origin.to_numpy()

# create an array of headers
headers = np.array(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight','Acceleration', 'Model', 'Origin'])

1. How can you get help on `np.array`?

Call `dir()` on `np.array`. 

Call `dir()` on `car`.

Note the difference. `car` has methods and attributes we can use.

In [2]:
#help(np.array)
# dir(np.array)
# dir(car)

# When car is instantiated it creates methods and attributes we can use. They are missing in the base class.

2. What are the numpy datatypes for the `car`,`mpg`, `horsepower` and `origin` arrays? (Hint: Not `type(car)` and use `print()` to print the numpy type.)

In [3]:
print(car.dtype)
print(mpg.dtype)
print(horsepower.dtype)
print(origin.dtype)

object
float64
float64
object

3. `numpy` is often imported as `np`. What is this action called? Why might you do this?

In [4]:
# This is called aliasing. It can be use to shorted a word and save typing. 
# It can also be used to avoid naming collisions in packages.

4. Each of the arrays (cars, mpg, cylinders, etc..) has how many dimensions? Show how to find this using code.

In [5]:
car.ndim

1

5. Show how to:

- multiply the `mpg` array by 12.
- divide the `mpg` array by 3.
- raise the `mpg` array to the power of 4.
- take the square root of the `mpg` array.

In [6]:
mpg * 12
mpg / 3
mpg ** 4
np.sqrt(mpg)

array([4.24264069, 3.87298335, 4.24264069, 4.        , 4.12310563,
       3.87298335, 3.74165739, 3.74165739, 3.74165739, 3.87298335,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       3.87298335, 3.74165739, 0.        , 3.87298335, 3.74165739,
       4.89897949, 4.69041576, 4.24264069, 4.58257569, 5.19615242,
       5.09901951, 5.        , 4.89897949, 5.        , 5.09901951,
       4.58257569, 3.16227766, 3.16227766, 3.31662479, 3.        ,
       5.19615242, 5.29150262, 5.        , 5.        , 0.        ,
       4.35889894, 4.        , 4.12310563, 4.35889894, 4.24264069,
       3.74165739, 3.74165739, 3.74165739, 3.74165739, 3.46410162,
       3.60555128, 3.60555128, 4.24264069, 4.69041576, 4.35889894,
       4.24264069, 4.79583152, 5.29150262, 5.47722558, 5.47722558,
       5.56776436, 5.91607978, 5.19615242, 5.09901951, 4.89897949,
       5.        , 4.79583152, 4.47213595, 4.58257569, 3.60555128,
       3.74165739, 3.87298335, 3.74165739, 4.12310563, 3.31662479,
       3.60555128, 3.46410162, 3.60555128, 4.35889894, 3.87298335,
       3.60555128, 3.60555128, 3.74165739, 4.24264069, 4.69041576,
       4.58257569, 5.09901951, 4.69041576, 5.29150262, 4.79583152,
       5.29150262, 5.19615242, 3.60555128, 3.74165739, 3.60555128,
       3.74165739, 3.87298335, 3.46410162, 3.60555128, 3.60555128,
       3.74165739, 3.60555128, 3.46410162, 3.60555128, 4.24264069,
       4.        , 4.24264069, 4.24264069, 4.79583152, 5.09901951,
       3.31662479, 3.46410162, 3.60555128, 3.46410162, 4.24264069,
       4.47213595, 4.58257569, 4.69041576, 4.24264069, 4.35889894,
       4.58257569, 5.09901951, 3.87298335, 4.        , 5.38516481,
       4.89897949, 4.47213595, 4.35889894, 3.87298335, 4.89897949,
       4.47213595, 3.31662479, 4.47213595, 4.58257569, 4.35889894,
       3.87298335, 5.56776436, 5.09901951, 5.65685425, 5.        ,
       4.        , 4.        , 4.24264069, 4.        , 3.60555128,
       3.74165739, 3.74165739, 3.74165739, 5.38516481, 5.09901951,
       5.09901951, 5.56776436, 5.65685425, 5.29150262, 4.89897949,
       5.09901951, 4.89897949, 5.09901951, 5.56776436, 4.35889894,
       4.24264069, 3.87298335, 3.87298335, 4.        , 3.87298335,
       4.        , 3.74165739, 4.12310563, 4.        , 3.87298335,
       4.24264069, 4.58257569, 4.47213595, 3.60555128, 5.38516481,
       4.79583152, 4.47213595, 4.79583152, 4.89897949, 5.        ,
       4.89897949, 4.24264069, 5.38516481, 4.35889894, 4.79583152,
       4.79583152, 4.69041576, 5.        , 5.74456265, 5.29150262,
       5.        , 5.        , 5.09901951, 5.19615242, 4.18330013,
       4.        , 3.93700394, 3.80788655, 4.69041576, 4.69041576,
       4.89897949, 4.74341649, 5.38516481, 4.94974747, 5.38516481,
       5.74456265, 4.47213595, 4.24264069, 4.30116263, 4.18330013,
       5.43139025, 5.65685425, 5.29150262, 5.14781507, 4.47213595,
       3.60555128, 4.35889894, 4.35889894, 4.0620192 , 4.0620192 ,
       3.60555128, 3.60555128, 3.60555128, 5.61248608, 5.47722558,
       6.        , 5.04975247, 5.78791845, 4.18330013, 4.12310563,
       3.93700394, 3.87298335, 4.18330013, 4.52769257, 4.35889894,
       4.30116263, 4.        , 3.93700394, 3.93700394, 4.        ,
       5.38516481, 4.94974747, 5.09901951, 5.04975247, 5.52268051,
       5.78791845, 5.47722558, 5.52268051, 4.69041576, 4.63680925,
       4.63680925, 6.56505902, 6.00832755, 5.72712843, 6.27694193,
       6.00832755, 4.4609416 , 4.40454311, 4.49444101, 4.38178046,
       4.52769257, 4.49444101, 5.00999002, 4.52769257, 4.40454311,
       4.53872229, 4.5607017 , 4.31277173, 4.25440948, 4.38178046,
       4.20713679, 4.25440948, 4.18330013, 5.47722558, 5.24404424,
       5.21536192, 5.55877684, 4.59347363, 4.81663783, 4.87852437,
       4.88876262, 4.50555213, 4.12310563, 4.64758002, 4.02492236,
       5.61248608, 5.43139025, 4.63680925, 4.44971909, 4.72228758,
       4.49444101, 4.53872229, 4.12310563, 4.19523539, 4.0620192 ,
       4.2661458 , 4.11096096, 3.93700394, 4.38178046, 4.30116263,
       5.6480085 , 5.83952053, 5.9749477 , 5.23450093, 5.03984127,
       4.79583152, 5.21536192, 4.88876262, 5.84807661, 5.87367006,
       5.63914887, 6.10737259, 5.32916504, 5.36656315, 5.17687164,
       5.78791845, 6.44204936, 6.17251974, 5.66568619, 6.09918027,
       5.29150262, 5.13809303, 4.92950302, 4.37035468, 5.85662019,
       5.45893763, 5.59464029, 6.08276253, 5.67450438, 6.82641927,
       5.28204506, 6.38748777, 6.65582452, 6.58786764, 6.03324125,
       5.47722558, 6.67832314, 6.39531078, 5.81377674, 5.45893763,
       5.71839138, 4.86826458, 5.91607978, 4.85798312, 5.69209979,
       5.21536192, 5.15751878, 5.07937004, 4.84767986, 5.47722558,
       6.25299928, 6.244998  , 5.9245253 , 5.6833089 , 6.08276253,
       6.14003257, 5.83952053, 5.89067059, 5.86515132, 5.46808925,
       5.74456265, 5.87367006, 5.80517011, 5.69209979, 5.73585216,
       5.62138773, 5.30094331, 0.        , 5.54075807, 5.03984127,
       4.91934955, 4.73286383, 5.15751878, 4.49444101, 4.19523539,
       5.29150262, 5.19615242, 5.83095189, 5.56776436, 5.38516481,
       5.19615242, 4.89897949, 4.79583152, 6.        , 6.08276253,
       5.56776436, 6.164414  , 6.        , 6.        , 6.        ,
       5.83095189, 6.164414  , 5.65685425, 6.164414  , 5.        ,
       6.164414  , 5.09901951, 4.69041576, 5.65685425, 6.        ,
       5.19615242, 5.19615242, 6.63324958, 5.65685425, 5.29150262,
       5.56776436])

6. What is the ___ of `horsepower`?
- sum
- min
- max
- median
- Optional: mode (May need to google help)

In [7]:
np.sum(horsepower)
np.min(horsepower)
np.max(horsepower)
np.median(horsepower)

from scipy import stats
stats.mode(horsepower)

ModeResult(mode=array([150.]), count=array([22]))

7. Select a subset of `acceleration`. 

- Select only the first 5 elements.
- Select every other element (new selection).

In [8]:
acceleration[:5]
acceleration[::2]

array([12. , 11. , 10.5,  9. , 10. , 17.5, 11. , 11. ,  8. ,  9.5, 15. ,
       15.5, 14.5, 17.5, 17.5, 15. , 15. , 18.5, 15.5, 19. , 13. , 15.5,
       15.5, 11.5, 13. , 12. , 13.5, 15. , 14. , 19.5, 19. , 19. , 15.5,
       23.5, 16.5, 12. , 13. , 11. , 13.5, 13.5, 14. , 14. , 18. , 18. ,
       17. , 15. , 13. , 13. , 12.5, 12. , 14.5, 11. , 16.5, 16. , 16. ,
       14. , 13. , 15. , 19.5, 13.5, 14. , 13. , 19.5, 14. , 11. , 13.5,
       16.5, 16. , 19. , 21. , 17. , 16.5, 14.5, 16. , 16.5, 14.5, 19. ,
       15.5, 15. , 16. , 16. , 19.5, 14. , 13.5, 18.5, 19. , 13.5, 16. ,
       16. , 13.5, 17. , 14. , 15. , 14.5, 17.5, 16.9, 17.7, 13. , 13.9,
       15.4, 17.6, 22.2, 14.2, 17.7, 16.2, 12.2, 16.4, 15.7, 21.9, 16.7,
       12. , 14. , 14.8, 15.5, 12.5, 13.7, 16.4, 17.7, 11.1, 12.2, 14.5,
       18.2, 17. , 16.4, 14.5, 13.5, 14.4, 18.6, 15.5, 12.8, 18.2, 15.4,
       17.2, 16.7, 15.1, 13.4, 13.7, 14.2, 14.5, 16.7, 14.9, 13.6, 15.8,
       16.6, 18.2, 18.2, 15.4, 13.2, 14.9, 15. , 14. , 14.4, 20.1, 24.8,
       13.2, 19.2, 16. , 12.9, 14.7, 15.5, 16.5, 20.1, 15.8, 17.5, 15.2,
       14.4, 21.7, 19.9, 13.8, 18. , 11.4, 15.1, 17. , 16.4, 12.6, 16.9,
       16.1, 19.4, 16. , 16.2, 14.2, 14.4, 14.8, 20.4, 19.6, 13.8, 19. ,
       16.6, 18.6, 16.2, 18. , 20.5, 18.2, 14.7, 14.5, 16.9, 15.7, 16.4,
       14.5, 13.9, 17.3, 24.6, 18.6])

8. Show how to select the number `99` in the array below.

In [9]:
select_99 = np.array([[1,2,3],
                      [4,5,99]])

In [10]:
select_99[1,2]

99

9. Select the last element in each subarray (do this with one operation.)

In [11]:
select_more = np.array([[1,2,3],
                      [4,5,6],
                      [7,8,9]])
# returns array([3, 6, 9])

In [12]:
select_more[:,2]

array([3, 6, 9])

10. Use the built-in `np.lookfor()` function to search for `'log'`.

Use the function you find and apply it to `mpg`.

In [13]:
# np.lookfor('log')
np.log(mpg)

<ipython-input-13-1603fbcdfe7c>:2: RuntimeWarning: divide by zero encountered in log
  np.log(mpg)

array([2.89037176, 2.7080502 , 2.89037176, 2.77258872, 2.83321334,
       2.7080502 , 2.63905733, 2.63905733, 2.63905733, 2.7080502 ,
             -inf,       -inf,       -inf,       -inf,       -inf,
       2.7080502 , 2.63905733,       -inf, 2.7080502 , 2.63905733,
       3.17805383, 3.09104245, 2.89037176, 3.04452244, 3.29583687,
       3.25809654, 3.21887582, 3.17805383, 3.21887582, 3.25809654,
       3.04452244, 2.30258509, 2.30258509, 2.39789527, 2.19722458,
       3.29583687, 3.33220451, 3.21887582, 3.21887582,       -inf,
       2.94443898, 2.77258872, 2.83321334, 2.94443898, 2.89037176,
       2.63905733, 2.63905733, 2.63905733, 2.63905733, 2.48490665,
       2.56494936, 2.56494936, 2.89037176, 3.09104245, 2.94443898,
       2.89037176, 3.13549422, 3.33220451, 3.40119738, 3.40119738,
       3.4339872 , 3.55534806, 3.29583687, 3.25809654, 3.17805383,
       3.21887582, 3.13549422, 2.99573227, 3.04452244, 2.56494936,
       2.63905733, 2.7080502 , 2.63905733, 2.83321334, 2.39789527,
       2.56494936, 2.48490665, 2.56494936, 2.94443898, 2.7080502 ,
       2.56494936, 2.56494936, 2.63905733, 2.89037176, 3.09104245,
       3.04452244, 3.25809654, 3.09104245, 3.33220451, 3.13549422,
       3.33220451, 3.29583687, 2.56494936, 2.63905733, 2.56494936,
       2.63905733, 2.7080502 , 2.48490665, 2.56494936, 2.56494936,
       2.63905733, 2.56494936, 2.48490665, 2.56494936, 2.89037176,
       2.77258872, 2.89037176, 2.89037176, 3.13549422, 3.25809654,
       2.39789527, 2.48490665, 2.56494936, 2.48490665, 2.89037176,
       2.99573227, 3.04452244, 3.09104245, 2.89037176, 2.94443898,
       3.04452244, 3.25809654, 2.7080502 , 2.77258872, 3.36729583,
       3.17805383, 2.99573227, 2.94443898, 2.7080502 , 3.17805383,
       2.99573227, 2.39789527, 2.99573227, 3.04452244, 2.94443898,
       2.7080502 , 3.4339872 , 3.25809654, 3.4657359 , 3.21887582,
       2.77258872, 2.77258872, 2.89037176, 2.77258872, 2.56494936,
       2.63905733, 2.63905733, 2.63905733, 3.36729583, 3.25809654,
       3.25809654, 3.4339872 , 3.4657359 , 3.33220451, 3.17805383,
       3.25809654, 3.17805383, 3.25809654, 3.4339872 , 2.94443898,
       2.89037176, 2.7080502 , 2.7080502 , 2.77258872, 2.7080502 ,
       2.77258872, 2.63905733, 2.83321334, 2.77258872, 2.7080502 ,
       2.89037176, 3.04452244, 2.99573227, 2.56494936, 3.36729583,
       3.13549422, 2.99573227, 3.13549422, 3.17805383, 3.21887582,
       3.17805383, 2.89037176, 3.36729583, 2.94443898, 3.13549422,
       3.13549422, 3.09104245, 3.21887582, 3.49650756, 3.33220451,
       3.21887582, 3.21887582, 3.25809654, 3.29583687, 2.86220088,
       2.77258872, 2.74084002, 2.67414865, 3.09104245, 3.09104245,
       3.17805383, 3.11351531, 3.36729583, 3.19867312, 3.36729583,
       3.49650756, 2.99573227, 2.89037176, 2.91777073, 2.86220088,
       3.38439026, 3.4657359 , 3.33220451, 3.27714473, 2.99573227,
       2.56494936, 2.94443898, 2.94443898, 2.80336038, 2.80336038,
       2.56494936, 2.56494936, 2.56494936, 3.44998755, 3.40119738,
       3.58351894, 3.23867845, 3.51154544, 2.86220088, 2.83321334,
       2.74084002, 2.7080502 , 2.86220088, 3.02042489, 2.94443898,
       2.91777073, 2.77258872, 2.74084002, 2.74084002, 2.77258872,
       3.36729583, 3.19867312, 3.25809654, 3.23867845, 3.41772668,
       3.51154544, 3.40119738, 3.41772668, 3.09104245, 3.06805294,
       3.06805294, 3.763523  , 3.58629287, 3.49042852, 3.67376582,
       3.58629287, 2.99071973, 2.96527307, 3.0056826 , 2.95491028,
       3.02042489, 3.0056826 , 3.22286785, 3.02042489, 2.96527307,
       3.02529108, 3.03495299, 2.92316158, 2.89591194, 2.95491028,
       2.87356464, 2.89591194, 2.86220088, 3.40119738, 3.314186  ,
       3.30321697, 3.43075618, 3.04927304, 3.14415228, 3.16968558,
       3.17387846, 3.01062089, 2.83321334, 3.07269331, 2.78501124,
       3.44998755, 3.38439026, 3.06805294, 2.98568194, 3.10458668,
       3.0056826 , 3.02529108, 2.83321334, 2.8678989 , 2.80336038,
       2.90142159, 2.82731362, 2.74084002, 2.95491028, 2.91777073,
       3.46260601, 3.52929738, 3.57515069, 3.31054301, 3.23474917,
       3.13549422, 3.30321697, 3.17387846, 3.53222564, 3.54095932,
       3.45946629, 3.61899333, 3.34638915, 3.36037539, 3.28840189,
       3.51154544, 3.72569343, 3.64021428, 3.46885603, 3.61630876,
       3.33220451, 3.27336401, 3.19047635, 2.94968834, 3.53514535,
       3.39450839, 3.4436181 , 3.61091791, 3.47196645, 3.84160054,
       3.32862669, 3.70868208, 3.79098468, 3.77045944, 3.59456877,
       3.40119738, 3.79773386, 3.71113006, 3.5204608 , 3.39450839,
       3.48737508, 3.16547505, 3.55534806, 3.16124671, 3.47815842,
       3.30321697, 3.28091122, 3.25037449, 3.15700042, 3.40119738,
       3.66612247, 3.66356165, 3.55820113, 3.47506723, 3.61091791,
       3.62966009, 3.52929738, 3.54673969, 3.53805656, 3.39785848,
       3.49650756, 3.54095932, 3.51749784, 3.47815842, 3.49347266,
       3.45315712, 3.33576958,       -inf, 3.42426265, 3.23474917,
       3.18635263, 3.10906096, 3.28091122, 3.0056826 , 2.8678989 ,
       3.33220451, 3.29583687, 3.52636052, 3.4339872 , 3.36729583,
       3.29583687, 3.17805383, 3.13549422, 3.58351894, 3.61091791,
       3.4339872 , 3.63758616, 3.58351894, 3.58351894, 3.58351894,
       3.52636052, 3.63758616, 3.4657359 , 3.63758616, 3.21887582,
       3.63758616, 3.25809654, 3.09104245, 3.4657359 , 3.58351894,
       3.29583687, 3.29583687, 3.78418963, 3.4657359 , 3.33220451,
       3.4339872 ])

11. You your google skills to find the unique items in `origin`. (This may not have been covered in the readings.)

In [14]:
np.unique(origin)

array(['Europe', 'Japan', 'US'], dtype=object)

12. 
- Create a 2D array and print its shape as well as ndim. (Any shape is fine)

- Create a 3D array and print its shape as well as ndim.

- Create a 4D array and print its shape as well as ndim. *It's hard to visualize 4-Dimensions but numpy can do it with ease!*

In [15]:
d2 = np.array([[1,2,3],
              [4,5,6]])
print(d2.ndim)
print(d2.shape)

d3 = np.array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])
print(d3.ndim)
print(d3.shape)

d4 = np.array([[[[1., 1., 1., 1.]]]])
print(d4.ndim)
print(d4.shape)

# TIP: np.ones(1,1,1,1,1,1) to create nDimensional arrays.

2
(2, 3)
3
(3, 3, 3)
4
(1, 1, 1, 4)

13.Use boolean indexing to create an array of `True/False` using `origin` and the value 'US'.

In [16]:
origin=='US'

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True, False, False, False,
       False, False, False,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False, False, False,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False, False, False,  True, False, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True, False,  True,
       False, False,  True,  True, False,  True,  True, False, False,
       False, False,  True, False, False,  True,  True,  True,  True,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False, False, False, False,
        True, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False, False,
       False,  True, False,  True, False, False, False, False, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False,  True,
        True,  True,  True, False, False, False,  True, False,  True,
       False, False, False,  True,  True,  True,  True, False,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True, False, False, False, False, False, False,
        True, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
        True, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False, False,  True, False,  True,  True,  True,  True,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False,  True,  True,  True,  True,  True, False,
        True, False, False, False, False, False,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False, False,  True,
        True, False, False, False, False, False, False,  True,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True])

14. Apply your index (from above) to the `car` array. You should now only see cars that are of US origin.

In [17]:
car[origin=='US']

array(['Chevrolet Chevelle Malibu', 'Buick Skylark 320',
       'Plymouth Satellite', 'AMC Rebel SST', 'Ford Torino',
       'Ford Galaxie 500', 'Chevrolet Impala', 'Plymouth Fury iii',
       'Pontiac Catalina', 'AMC Ambassador DPL',
       'Chevrolet Chevelle Concours (sw)', 'Ford Torino (sw)',
       'Plymouth Satellite (sw)', 'AMC Rebel SST (sw)',
       'Dodge Challenger SE', "Plymouth 'Cuda 340",
       'Ford Mustang Boss 302', 'Chevrolet Monte Carlo',
       'Buick Estate Wagon (sw)', 'Plymouth Duster', 'AMC Hornet',
       'Ford Maverick', 'AMC Gremlin', 'Ford F250', 'Chevy C20',
       'Dodge D200', 'Hi 1200D', 'Chevrolet Vega 2300', 'Ford Pinto',
       'AMC Gremlin', 'Plymouth Satellite Custom',
       'Chevrolet Chevelle Malibu', 'Ford Torino 500', 'AMC Matador',
       'Chevrolet Impala', 'Pontiac Catalina Brougham',
       'Ford Galaxie 500', 'Plymouth Fury iii', 'Dodge Monaco (sw)',
       'Ford Country Squire (sw)', 'Pontiac Safari (sw)',
       'AMC Hornet Sportabout (sw)', 'Chevrolet Vega (sw)',
       'Pontiac Firebird', 'Ford Mustang', 'Mercury Capri 2000',
       'Plymouth Cricket', 'Dodge Colt Hardtop', 'Chevrolet Vega',
       'Ford Pinto Runabout', 'Chevrolet Impala', 'Pontiac Catalina',
       'Plymouth Fury III', 'Ford Galaxie 500', 'AMC Ambassador SST',
       'Mercury Marquis', 'Buick LeSabre Custom',
       'Oldsmobile Delta 88 Royale', 'Chrysler Newport Royal',
       'AMC Matador (sw)', 'Chevrolet Chevelle Concours (sw)',
       'Ford Gran Torino (sw)', 'Plymouth Satellite Custom (sw)',
       'Ford Pinto (sw)', 'Dodge Colt (sw)', 'Buick Century 350',
       'AMC Matador', 'Chevrolet Malibu', 'Ford Gran Torino',
       'Dodge Coronet Custom', 'Mercury Marquis Brougham',
       'Chevrolet Caprice Classic', 'Ford LTD',
       'Plymouth Fury Gran Sedan', 'Chrysler New Yorker Brougham',
       'Buick Electra 225 Custom', 'AMC Ambassador Brougham',
       'Plymouth Valiant', 'Chevrolet Nova Custom', 'AMC Hornet',
       'Ford Maverick', 'Plymouth Duster', 'Chevrolet Impala',
       'Ford Country', 'Plymouth Custom Suburb',
       'Oldsmobile Vista Cruiser', 'AMC Gremlin', 'Chevrolet Vega',
       'Ford Pinto', 'Mercury Capri v6', 'Chevrolet Monte Carlo S',
       'Pontiac Grand Prix', 'Dodge Dart Custom', 'Oldsmobile Omega',
       'Plymouth Duster', 'Ford Maverick', 'AMC Hornet', 'Chevrolet Nova',
       'Ford Pinto', 'Chevrolet Vega',
       'Chevrolet Chevelle Malibu Classic', 'AMC Matador',
       'Plymouth Satellite Sebring', 'Ford Gran Torino',
       'Buick Century Luxus (sw)', 'Dodge Coronet Custom (sw)',
       'Ford Gran Torino (sw)', 'AMC Matador (sw)', 'Dodge Colt',
       'Plymouth Valiant Custom', 'Chevrolet Nova', 'Mercury Monarch',
       'Ford Maverick', 'Pontiac Catalina', 'Chevrolet Bel Air',
       'Plymouth Grand Fury', 'Ford LTD', 'Buick Century',
       'Chevrolete Chevelle Malibu', 'AMC Matador', 'Plymouth Fury',
       'Buick Skyhawk', 'Chevrolet Monza 2+2', 'Ford Mustang II',
       'Ford Pinto', 'AMC Gremlin', 'Pontiac Astro', 'Ford Pinto',
       'AMC Pacer', 'Capri ii', 'Dodge Colt',
       'Chevrolet Chevelle Malibu Classic', 'Dodge Coronet Brougham',
       'AMC Matador', 'Ford Gran Torino', 'Plymouth Valiant',
       'Chevrolet Nova', 'Ford Maverick', 'AMC Hornet',
       'Chevrolet Chevette', 'Chevrolet Woody', 'Dodge Aspen SE',
       'Ford Grenada ghia', 'Pontiac Ventura SJ', 'AMC Pacer d/l',
       'Ford Pinto', 'Plymouth Volare Premier v8', 'Cadillac Seville',
       'Chevrolet C10', 'Ford F108', 'Dodge D100',
       'Buick Opel Isuzu Deluxe', 'Plymouth Arrow GS',
       'Chevrolet Caprice Classic', 'Oldsmobile Cutlass Supreme',
       'Dodge Monaco Brougham', 'Mercury Cougar Brougham',
       'Chevrolet Concours', 'Buick Skylark', 'Plymouth Volare Custom',
       'Ford Grenada', 'Pontiac Grand Prix LJ',
       'Chevrolet Monte Carlo Landau', 'Chrysler Cordoba',
       'Ford Thunderbird', 'Pontiac Sunbird Coupe', 'Ford Mustang II 2+2',
       'Chevrolet Chevette', 'Dodge Colt m/m', 'Ford Fiesta',
       'Oldsmobile Cutlass Salon Brougham', 'Dodge Diplomat',
       'Mercury Monarch ghia', 'Pontiac Phoenix LJ', 'Chevrolet Malibu',
       'Ford Fairmont (auto)', 'Ford Fairmont (man)', 'Plymouth Volare',
       'AMC Concord', 'Buick Century Special', 'Mercury Zephyr',
       'Dodge Aspen', 'AMC Concord d/l', 'Chevrolet Monte Carlo Landau',
       'Buick Regal Sport Coupe (turbo)', 'Ford Futura',
       'Dodge Magnum XE', 'Chevrolet Chevette', 'Dodge Omni',
       'Plymouth Sapporo', 'Oldsmobile Starfire SX', 'Pontiac Lemans V6',
       'Mercury Zephyr 6', 'Ford Fairmont 4', 'AMC Concord DL 6',
       'Dodge Aspen 6', 'Chevrolet Caprice Classic', 'Ford LTD Landau',
       'Mercury Grand Marquis', 'Dodge St. Regis',
       'Buick Estate Wagon (sw)', 'Ford Country Squire (sw)',
       'Chevrolet Malibu Classic (sw)',
       'Chrysler Lebaron Town @ Country (sw)',
       'Dodge Colt Hatchback Custom', 'AMC Spirit DL',
       'Cadillac Eldorado', 'Oldsmobile Cutlass Salon Brougham',
       'Plymouth Horizon', 'Plymouth Horizon TC3',
       'Buick Skylark Limited', 'Chevrolet Citation',
       'Oldsmobile Omega Brougham', 'Pontiac Phoenix',
       'Chevrolet Chevette', 'Chevrolet Citation', 'Ford Fairmont',
       'AMC Concord', 'Dodge Aspen', 'Dodge Colt', 'Ford Mustang Cobra',
       'Plymouth Reliant', 'Buick Skylark', 'Dodge Aries Wagon (sw)',
       'Chevrolet Citation', 'Plymouth Reliant', 'Plymouth Champ',
       'Plymouth Horizon 4', 'Ford Escort 4W', 'Ford Escort 2H',
       'Buick Century', 'Oldsmobile Cutlass LS', 'Ford Grenada gl',
       'Chrysler Lebaron Salon', 'Chevrolet Cavalier',
       'Chevrolet Cavalier Wagon', 'Chevrolet Cavalier 2-door',
       'Pontiac J2000 SE Hatchback', 'Dodge Aries SE', 'Pontiac Phoenix',
       'Ford Fairmont Futura', 'AMC Concord DL', 'Plymouth Horizon Miser',
       'Mercury Lynx l', 'Buick Century Limited',
       'Oldsmobile Cutlass Ciera (diesel)', 'Chrysler Lebaron Medallion',
       'Ford Grenada l', 'Dodge Charger 2.2', 'Chevrolet Camaro',
       'Ford Mustang GL', 'Dodge Rampage', 'Ford Ranger', 'Chevy S-10'],
      dtype=object)

**The remaining questions are OPTIONAL**: The readings did not address all of these so you may have to use some "Google-Fu".

1.What is an identity matrix? 
Create an identiy matrix of size 5 using an np method.

In [18]:
np.eye(5)
# a square matrix in which all the elements of the principal diagonal are ones and all other elements are zeros. 
# The effect of multiplying a given matrix by an identity matrix is to leave the given matrix unchanged.

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

2. Transpose the following array.

In [19]:
transpose_me = np.array([[1,2,3],
                      [4,5,6],
                      [7,8,9]])
transpose_me.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

3. Why does this multiplication operation fail?

In [20]:
arr1 = np.array([[1,2,3],
                      [4,5,6],
                      [7,8,9]])
arr2 = np.array([[1,2,3],
                      [4,5,6]])

arr1 * arr2

ValueError: operands could not be broadcast together with shapes (3,3) (2,3)

In [21]:
# For matrix multiplication, the number of columns in the first matrix must be equal to the number of rows in the second matrix.

Use numpy to answer the following questions.

4. What is the average horsepower for `Europe` cars? (Hint: create boolean index of 'US' apply it to horsepower and perform the calculation.)

In [22]:
np.average(horsepower[origin=='Europe'])

78.78082191780823

5. On average are Japanse cars more fuel efficient than US cars?

In [23]:
print(np.average(mpg[origin=='Japan']))
print(np.average(mpg[origin=='US']))
# Yep

30.450632911392404
19.688188976377955

6. What is the correlation coefficient of `mpg` and `weight`?

In [24]:
np.corrcoef(mpg,weight)

array([[ 1.        , -0.78750994],
       [-0.78750994,  1.        ]])

7. Why might you prefer an `np.array()` over a Python `list`? And when is a Python `list` preferred?

In [25]:
# np.array() can be faster for complex mathematical operations on large datasets. 
# Python lists are great for everyday tasks!

In [26]:
def collatz(n):
    """ A good example of recursion."""
    
    if n == 1:
        return 
    
    elif n % 2 == 0:
        
        new_n = int(n/2)
        print(new_n)
    
        collatz(new_n)
        
    else:
        new_n = n*3 + 1
        print(new_n)
        
        collatz(new_n)

In [27]:
collatz(55)

166
83
250
125
376
188
94
47
142
71
214
107
322
161
484
242
121
364
182
91
274
137
412
206
103
310
155
466
233
700
350
175
526
263
790
395
1186
593
1780
890
445
1336
668
334
167
502
251
754
377
1132
566
283
850
425
1276
638
319
958
479
1438
719
2158
1079
3238
1619
4858
2429
7288
3644
1822
911
2734
1367
4102
2051
6154
3077
9232
4616
2308
1154
577
1732
866
433
1300
650
325
976
488
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2
1